SUPABASE_URL=https://PROJECT_REF.supabase.co
SUPABASE_SECRET_KEY=sb_secret_REPLACE_ME
FIREBASE_SERVICE_ACCOUNT=./service-account.json
CRON_SCHEDULE=0 */4 * * *
CRON_TIMEZONE=UTC
API_BASE_URL=https://api.shngm.io
API_DELAY_MS=1500
MAX_MANGA_PER_RUN=100
